sthlmtraveling/src/main/java/com/markupartist/sthlmtraveling/provider/ApiConf.java
/local.properties
/signing.properties
build
/.idea/workspace.xml
/.idea/tasks.xml
.gradle
*.DS_Store
com_crashlytics_export_strings.xml
