/local.properties
build_prod.properties
/signing.properties
/signing.env
build
/.idea
*.iml
.gradle
*.DS_Store
*.apk
com_crashlytics_export_strings.xml
sthlmtraveling/crashlytics.properties
sthlmtraveling/src/main/assets/crashlytics-build.properties



build_default.properties
