<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.markupartist.sthlmtraveling"
      android:installLocation="auto"
      android:versionCode="80" android:versionName="2.3.11RC3"
      >
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:debuggable="false"
                 android:name="MyApplication"
                 android:theme="@android:style/Theme.Light"
                 >
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".StartActivity"
                  android:label="@string/app_name"
                  android:configChanges="locale|orientation"
                  android:theme="@style/AppThemeActionBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".SearchActivity"
                        android:targetActivity=".StartActivity"
                        android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".PlannerFragmentActivity"
                  android:label="@string/search_label"
                  android:configChanges="locale"></activity>
        <!-- Alias activity used to create shortcuts on Home. The alias is used
             simply to have a different label. -->
        <activity-alias android:name="SearchShortcutActivity"
            android:targetActivity="PlannerFragmentActivity"
            android:label="@string/activity_create_shortcut"
            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".FavoritesFragmentActivity"
                  android:label="@string/favorites_label"
                  android:configChanges="locale"></activity>
        <activity android:name=".RoutesActivity"
                  android:label="@string/routes_label"
                  android:configChanges="locale|orientation"
                  android:theme="@style/AppThemeActionBar"
                  >
            <intent-filter>
	            <action android:name="android.intent.action.VIEW"/>
	            <category android:name="android.intent.category.DEFAULT"/>
	            <data android:scheme="journeyplanner" android:host="routes" />
            </intent-filter>
        </activity>
        <activity android:name=".TrafficStatusActivity"
                  android:label="@string/deviations_label"
                  android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviationsActivity"
                  android:theme="@style/AppThemeActionBar"
                  android:label="@string/deviations_label"
                  android:configChanges="locale|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.markupartist.sthlmtraveling.action.DEVIATION_FILTER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviationDetailActivity"
                  android:label="@string/deviations_label"
                  android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="journeyplanner" android:host="deviations" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteDetailActivity"
                  android:label="@string/route_details_label"
                  android:configChanges="locale|orientation"
                  android:theme="@style/AppThemeActionBar"
                  ></activity>
        <activity android:name=".ChangeRouteTimeActivity"
                  android:theme="@style/AppThemeActionBar"
                  android:label="@string/change_date_and_time"
                  android:configChanges="locale"></activity>
        <activity android:name=".PointOnMapActivity"
                  android:theme="@style/AppThemeActionBar"
                  android:label="@string/point_on_map"
                  android:configChanges="locale|orientation"></activity>
        <activity android:name=".ViewOnMapActivity"
                  android:theme="@style/AppThemeActionBar"
                  android:label="@string/stop_label"
                  android:configChanges="locale|orientation"></activity>
        <activity android:name=".SearchDeparturesFragmentActivity"
                  android:label="@string/departures"
                  android:configChanges="locale|orientation"></activity>
        <activity-alias android:name="CreateDepartureShortcutActivity"
			            android:targetActivity="SearchDeparturesFragmentActivity"
			            android:label="@string/activity_create_departure_shortcut"
			            android:configChanges="locale">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".DeparturesActivity"
                  android:label="@string/departures"
                  android:theme="@style/AppThemeActionBar"
                  android:configChanges="locale|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".NearbyActivity"
                  android:label="Nearby"
                  android:theme="@style/AppThemeActionBar"
                  android:configChanges="locale|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="NearbyShortcutActivity"
            android:targetActivity="NearbyActivity"
            android:label="Nearby"
            android:configChanges="locale"
            android:theme="@style/AppThemeActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".SettingsActivity"
                  android:label="@string/title_settings"
                  android:configChanges="locale"
                  android:theme="@style/android:style/Theme"
                  ></activity>
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <receiver android:name=".receivers.OnBootReceiver"
                  android:enabled="true" 
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnAlarmReceiver"
                  android:enabled="true" 
                  android:exported="false">
        </receiver>
        <service android:name=".service.DeviationService"
                  android:enabled="true" 
                  android:exported="false"
         />
        <service android:name=".service.DataMigrationService"
                 android:enabled="true" 
                 android:exported="false"
        />
        <provider android:name=".provider.PlacesProvider"
                  android:authorities="com.markupartist.sthlmtraveling.placesprovider"
                  android:exported="false"
                  />
        <provider android:name=".provider.JourneysProvider"
                  android:authorities="com.markupartist.sthlmtraveling.journeysprovider"
                  android:exported="false"
                  />

</application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
